@charset "utf-8";
/* side wide style */

/* layout */

/* common */
.eva-entity {background:#eee}
	.eva-entity h2 {padding:0 0.8em;margin:0;background:#333;color:#fff}

/* method */
.eva-method h3 {padding:0.5em 1.6em;margin:0;background:#666;color:#fff}

/* condition */
.eva-summary {display:block;color:#222;text-decoration:none}
	.eva-summary:focus,
	.eva-summary:hover {background-color:#f6f6f6;color:#222}
	.eva-success .eva-summary {color:#999}

	.eva-summary .eva-status,
	.eva-summary .eva-desc {display:block;padding:1em}

	.eva-summary .eva-status {padding-left:2em;margin-left:1em}
	.eva-summary .eva-status.eva-ing {background:url(../img/loading.gif) no-repeat left center}

.eva-condition .eva-extra {background:#f6f6f6}

.eva-condition .eva-col-l {float:left;width:20em}
.eva-condition .eva-col-r {margin-left:23em;padding:1em}

.eva-condition .eva-response {padding:1em}
	.eva-condition .eva-response pre {margin:0}